---
layout: default
section_id: lazy-squirrel
slides:
  - bg: images/Squirrel-Banner.png
    buttons:
      animation: bottom-to-top slow
      class: large-12
      items:
        - text: View Screenshots
          url: "#screenshots"
          target: _self
          class: boxed

    infos:
      - text: "&nbsp;Creative and responsive design"
        animation: bottom-to-top
      - text: "&nbsp;Many helpful shortcodes"
        animation: bottom-to-top
      - text: "&nbsp;Simple but powerful theme options"
        animation: bottom-to-top
      - text: "&nbsp;Fully responsive"
        animation: bottom-to-top
screenshots:
  - images/screenshots/1.jpg
  - images/screenshots/2.jpg
  - images/screenshots/3.jpg
  - images/screenshots/4.jpg
  - images/screenshots/5.jpg  
  - images/screenshots/6.jpg
  - images/screenshots/7.jpg  
  - images/screenshots/8.jpg
  - images/screenshots/9.jpg  
  - images/screenshots/10.jpg
works:
  - image: images/@stock/one-page-work-1.jpg
    title: Beautiful Girl
    link_to: portfolio-item.html
    class: graphic-design
    desc: Design &amp; Development
  - image: images/@stock/one-page-work-2.jpg
    title: Look at me
    link_to: portfolio-item.html
    class: web-design print
    desc: Design &amp; Development
  - image: images/@stock/one-page-work-3.jpg
    title: Am I cute
    link_to: portfolio-item.html
    class: brand
    desc: Design &amp; Development
  - image: images/@stock/one-page-work-4.jpg
    title: Umbrella
    link_to: portfolio-item.html
    class: development
    desc: Design &amp; Development
  - image: images/@stock/one-page-work-5.jpg
    title: Canned Bros
    link_to: portfolio-item.html
    class: print brand
    desc: Design &amp; Development
  - image: images/@stock/one-page-work-6.jpg
    title: Hale
    link_to: portfolio-item.html
    class: web-design
    desc: Design &amp; Development
  - image: images/@stock/one-page-work-7.jpg
    title: A beautiful day
    link_to: portfolio-item.html
    class: web-design
    desc: Design &amp; Development
  - image: images/@stock/one-page-work-8.jpg
    title: Flower Book
    link_to: portfolio-item.html
    class: graphic-design
    desc: Design &amp; Development
  - image: images/@stock/one-page-work-2.jpg
    title: Beautiful Girl
    link_to: portfolio-item.html
    class: graphic-design
    desc: Design &amp; Development
  - image: images/@stock/one-page-work-4.jpg
    title: Look at me
    link_to: portfolio-item.html
    class: web-design print
    desc: Design &amp; Development
  - image: images/@stock/one-page-work-1.jpg
    title: Am I cute
    link_to: portfolio-item.html
    class: brand
    desc: Design &amp; Development
  - image: images/@stock/one-page-work-6.jpg
    title: Umbrella
    link_to: portfolio-item.html
    class: development
    desc: Design &amp; Development
testimonials:
  - text: "Reprehenderit eos et non et ut eum reprehenderit quis sequi quia vel repellendus id. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est."
    author: David White
    position: Designer at Huglab
  - text: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing."
    author: David White
    position: Designer at Huglab
  - text: "Reprehenderit eos et non et ut eum reprehenderit quis sequi quia vel repellendus id. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est."
    author: David White
    position: Designer at Huglab
news_tag: lazy-squirrel
---
<div class='advanced mod modDefaultSlider'>
  <div class='sequence' data-autostop='on' data-timeout='0'>
    <ul class='sequence-canvas'>
      {% for slide in page.slides %}
        {% if forloop.index == 1 %}
          {% assign class = "static" %}
        {% else %}
          {% assign class = '' %}
        {% endif %}

        <li class='frame {{class}}'>
          <div class='bg' style='background-image: url({{slide.bg}});'></div>
          {% if slide.infos %}
            {% for info in slide.infos %}
              <div class='info{{forloop.index}} {{info.animation}}' style=''>
                <div class='row'>
                  <div class='medium-10 large-8 columns'>
                    <p class='fa fa-check' style='color: #fff;'>{{info.text}}</p>
                    <div class='spacing'></div>
                  </div>
                </div>
              </div>
            {% endfor %}
          {% else %}
            <div class='title {{slide.title.animation}}' style='color: rgb(255, 255, 255);'>
              <div class='row'>
                <div class='{{slide.title.class}} columns'>
                  <h2>{{slide.title.text}}</h2>
                </div>
              </div>
            </div>
          {% endif %}
          <div class='buttons-wrapper {{slide.buttons.animation}}' style=''>
            <div class='row'>
              <div class='{{slide.buttons.class}} columns'>
                <div class='two spacing'></div>
                {% for button in slide.buttons.items %}
                  <a target='{{button.target}}' class='button {{button.class}}' href='{{button.url}}'>{{button.text}}</a>
                {% endfor %}
                <a class='google-play-button' href='https://play.google.com/store/apps/details?id=com.squirrel.run.free&hl=en&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
                  <img alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/>
                </a>
                <a class='appstore-button' href='https://itunes.apple.com/us/app/temple-run/id420009108?mt=8'>
                  <img alt='Download on the AppStore' src='images/Download_on_the_App_Store_Badge_US-UK_135x40.svg' />
                </a>
              </div>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class='full' style='background: #f5f5f5' id="screenshots">
  <div class='row'>
    <div class='large-12 columns'>
      <div class='mod modBoxedTextSlider'>
        <div class='boxes'>
          {% for screenshot in page.screenshots %}
          <div class='box' style=''>
            <img src="{{screenshot}}" />
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class='four spacing'></div>
</div>

<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      <h4 style='color: #999'>Lazy Squirrel</h4>
      <h2>About the game</h2>
      <div class='spacing'></div>
      <p>Lazy Squirrel invites you to <strong>test your</strong> nuts collecting <strong>skills</strong>. 
      In an environment where the Squirrel is too Lazy to gather dried fruits, you step in 
      and make sure it stays full. Deal with <strong>nuts’ rows reversal</strong>, <strong>nuts’ swap</strong> 
      and blockers to form <strong>continuous zones</strong> for each type of nut thus reaching your goal.</p>
    </div>
  </div>
  <div class='three spacing'></div>
</div>

<div class='full news' style='background: #f5f5f5'>
  <div class='row'>
    <div class='large-12 columns'>
      <h4 style='color: #999'>Lazy Squirrel</h4>
      <h2>What's new?</h2>
      <div class='mod modBoxedTextSlider'>
        <div class='boxes' data-slick='{"autoplay": false, "infinite": false}'>
          {% for post in site.posts %}
          {% if post.tags contains page.news_tag %}
            <div class='box' style=''>
              <div class='date'>{{post.date | date: '%B %d, %Y'}}</div>
              <h4>{{post.title}}</h4>
              <div class='excerpt'>{{post.excerpt}}</div>
              <a class='button small' href='{{post.url}}'>Read more</a>
            </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class='four spacing'></div>
</div>

<div class='full'>
  <div class='row'>
    <div class='mod modGallery'>
      <div class='gallery-nav'>
        <ul>
          <li class='current'>
            <a data-cat='all' href='#'>All</a>
          </li>
          <li>
            <a data-cat='graphic-design' href='#'>Graphic Design</a>
          </li>
          <li>
            <a data-cat='web-design' href='#'>Web Design</a>
          </li>
          <li>
            <a data-cat='brand' href='#'>Brand</a>
          </li>
          <li>
            <a data-cat='development' href='#'>Development</a>
          </li>
          <li>
            <a data-cat='print' href='#'>Print</a>
          </li>
        </ul>
      </div>
      <ul class='gallery large-block-grid-4 medium-block-grid-3 seperated small-block-grid-2'>
        {% for work in page.works %}
          <li class='{{work.class}}'>
            <a href='{{work.link_to}}'>
              <img alt="" src="{{site.url}}/{{work.image}}" />
              <div class='overlay' style='background: rgba(143, 221, 115, 0.8);'>
                <div class='thumb-info'>
                  <h3>{{work.title}}</h3>
                  <p>{{work.desc}}</p>
                </div>
              </div>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class='four spacing'></div>
  <div class='row'>
    <div class='large-12 columns'>
      <p class='centered-text'>
        <a class='button' href='#'>See more works</a>
      </p>
    </div>
  </div>
  <div class='four spacing'></div>
</div>

<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      <p class='centered-text'>
        <i class='fa fa-quote-left' style='color: #F9CE06; font-size: 36px;'></i>
      </p>
    </div>
  </div>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='mod modTestimonials'>
        <div class='row'>
          <div class='small-12 columns'>
            <div class='items centered-text'>
              {% for t in page.testimonials  %}
                <div class='item'>
                  <p class='quote'>{{t.text}}</p>
                  <p class='author'>- {{t.author}}, {{t.position}}</p>
                  <div class='two spacing'></div>
                </div>
              {% endfor %}
            </div>
          </div>
          <div class='spacing'></div>
        </div>
      </div>
    </div>
  </div>
  <div class='four spacing'></div>
</div>
